*{
    margin: 0;
    padding: 0;
}


/*  Estilo Cabeçalho */
#cabeca {
  height: 200px;
  background-color: #1CAA77;
  font-family: Arial;
}

/*
.buscas-box {
    
}
*/


.buscas-input {
    outline: 0;
    font-size: 1.2em;
    color: #fff;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}


.buscas-box:hover .buscas-input {
   
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
}


/* ESTILO MAIN - ANDRIUS*/
.subtitles{
    margin: 10px;
}

#blocoMain{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: blue;
}


.blocoBanner{
    width: auto;
    height: 250px;
    margin-top: 70px;
    background-color: grey;
    border-radius: 20px;
}


.blocoCategoria{
    display: inline-block;
    bottom: 250px;
    width: 250px;
    height: 200px;
    margin: 50px 10px;
    border-radius: 10px;
    background-color: grey;
}


.blocoPrincipaisF{
    display: inline-block;
    margin: 50px 10px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    background-color: grey;
}


.hr{
    margin: 50px;
}




/* ESTILO RODAPÉ */


#rodape{
    background-color: orange;
    width: auto;
    height: 250px;
}


.rodape a{
    text-decoration: none;
    color: white;
}


.rodape p{
    margin-bottom: 5px;
}
.rodape_div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}


.rodape_div_1, .rodape_div2, .rodape_div3{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
    margin: 10px;
}


.rodape_div{
    padding: 60px 0px 40px 0px;
}





